[SddmGreeterTheme]
Name=Breath
Description=Breath Theme
Description[ast]=Tema Breath
Description[bs]=Breath Tema
Description[ca]=Tema Breath
Description[ca@valencia]=Tema Breath
Description[cs]=Motiv Breath
Description[da]=Breath-temaet
Description[de]=Breath-Design
Description[el]=Θέμα Breath
Description[en_GB]=Breath Theme
Description[es]=Tema Breath
Description[et]=Breath teema
Description[fi]=Breath-teema
Description[fr]=Thème Breath
Description[gl]=Tema Breath
Description[he]=ערכת הנושא Breath
Description[hu]=Breath téma
Description[id]=Tema Breath
Description[is]=Breath þema
Description[it]=Tema Breath
Description[ja]=Breath テーマ
Description[ko]=Breath 테마
Description[lt]=Breath apipavidalinimas
Description[nb]=Breath-tema
Description[nds]=Breath-Muster
Description[nl]=Thema Breath
Description[nn]=Breath-tema
Description[pl]=Wystrój Breath
Description[pt]=Tema Breath
Description[pt_BR]=Tema Breath
Description[ru]=Тема «Breath»
Description[sr@latin]=Tema Breath
Description[sv]=Breath-tema
Description[tr]=Breath Teması
Description[uk]=Тема «Breath»
Author=Manjaro Team
Copyright=(c) 2021, Manjaro
License=CC-BY-SA
Type=sddm-theme
Version=0.2.0
Website=https://gitlab.manjaro.org/artwork/themes/breath2
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Breath
Theme-API=2.0
