[Desktop Entry]
Name=Bamboo

X-KDE-PluginInfo-Name=Bamboo
X-KDE-PluginInfo-Author=Andrey Koshelev
X-KDE-PluginInfo-Email=andreshimas@gmail.com
X-KDE-PluginInfo-License=CC BY-SA
Name[en_GB]=Bamboo
Name[ru_RU]=Бамбук
