[Desktop Entry]
Name=North

X-KDE-PluginInfo-Name=North
X-KDE-PluginInfo-Author=Andrey Koshelev
X-KDE-PluginInfo-Email=andreshimas@gmail.com
X-KDE-PluginInfo-License=CC BY-SA
