[Desktop Entry]
Name=Bamboo at Night

X-KDE-PluginInfo-Name=Bamboo_at_Night
X-KDE-PluginInfo-Author=Andrey Koshelev
X-KDE-PluginInfo-Email=andreshimas@gmail.com
X-KDE-PluginInfo-License=CC BY-SA
Name[en_GB]=Bamboo at Night
Name[ru_RU]=Ночной Бамбук
